LearnYourHeart/WebContent/wsdl/AutoTimeOutMail.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://a" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://a" xmlns:intf="http://a" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://a" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="sendMail">
    <complexType>
     <sequence>
      <element name="emailid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendMailResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendMailRequest">

      <wsdl:part element="impl:sendMail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendMailResponse">

      <wsdl:part element="impl:sendMailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AutoTimeOutMail">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendMail">

         <wsdl:input message="impl:sendMailRequest" name="sendMailRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendMailResponse" name="sendMailResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AutoTimeOutMailSoapBinding" type="impl:AutoTimeOutMail">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendMail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendMailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendMailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AutoTimeOutMailService">

      <wsdl:port binding="impl:AutoTimeOutMailSoapBinding" name="AutoTimeOutMail">

         <wsdlsoap:address location="http://localhost:8081/LearnYourHeart/services/AutoTimeOutMail"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
